@import "./styles/layout.css";
@import "../src/styles/font.css";
@import "tailwindcss";

@theme {

--font-explora:"Explora",serif;
--font-notoSerif:"Noto Serif Display";
--font-roboto:"Roboto";
--font-semibold:" Semi Bold";

/* Background */
--color-background-main: #FAF9F6; 
--color-background-soft: #FCFCF5;
--color-border:#92999B;
--color-background-box:#1D1C19;
/* Text */
--color-text-primary: #0F0F0F;
--color-text-secondary: #6B6B6B;

--shadow-text: 0 2px 12px rgba(0, 0, 0, 0.6);
--shadow-text-soft: 0 1px 8px rgba(0, 0, 0, 0.35);
}
  @layer base {

  * {

    @apply box-border;

  }

  html {

    scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */

  }

  body {

    @apply bg-background-main text-text-primary;

  }

  img {

    @apply block max-w-full;

  }

  button {

    @apply cursor-pointer;

  }

  a {

    @apply no-underline;

    color: inherit;

  }

}


html,

body {

  scroll-behavior: smooth;

}